package ${controllerUrl};

import com.fasterxml.jackson.databind.ObjectMapper;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.BeanUtils;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.http.MediaType;
import org.springframework.util.StringUtils;
import org.springframework.web.bind.annotation.*;
import ${url};
import ${serviceUrl}.${name}Service;
import com.wjh.generationcode.bean.ResponseDataModel;
import com.wjh.generationcode.bean.ResponseModel;
import com.wjh.generationcode.bean.ResponseDataListModel;

import java.io.IOException;
import java.util.HashMap;
import java.util.List;

@RestController("${capitalName}Controller")
@RequestMapping("/api/${capitalName}")
public class ${name}Controller {

    public static Logger logger = LoggerFactory.getLogger(${name}Controller.class);

    @Autowired
    private ${name}Service service;

    @GetMapping(value = "/get", produces = MediaType.APPLICATION_JSON_UTF8_VALUE)
    public ResponseDataModel<${name}> get(${primaryType} ${primaryKey}) {
        ResponseDataModel<${name}> responseModel = new ResponseDataModel<>();
        try {
            ${name} entity=service.get${name}(id);
            responseModel.setSuccess(true);
            responseModel.setEntity(entity);
        } catch (Exception e) {
            responseModel.setSuccess(false);
            responseModel.setMessage("Fail:" + e.getMessage());
            logger.error("Fail:", e);
            return responseModel;
        }
        responseModel.setSuccess(true);
        responseModel.setMessage("SUCCESS");
        return responseModel;
    }

    @GetMapping(value = "getListByPage/{currentPage}/{itemsPerPage}")
    @ResponseBody
    @SuppressWarnings("unchecked")
    public ResponseDataListModel<${name}> getListByPage(@PathVariable int currentPage, @PathVariable int itemsPerPage, @RequestParam(required = false) String param) {
        logger.info("currentPage:{},itemsPerPage:{},param:{}", currentPage, itemsPerPage, param);
        ResponseDataListModel<${name}> responseModel = new ResponseDataListModel<>();
        HashMap<String, Object> paramMap = new HashMap<>();
        if (StringUtils.isNotEmpty(param)) {
            try {
                paramMap = new ObjectMapper().readValue(param, HashMap.class);
            } catch (IOException e) {
                logger.error(e.getMessage(), e);
            }
        }else{
            paramMap.put("orderby","id desc");
        }
        List<${name}> list = service.getListByPage(currentPage, itemsPerPage, paramMap);
        int count = service.getCount();
        responseModel.setSuccess(true);
        responseModel.setCount(count);
        responseModel.setList(list);
        return responseModel;
    }

    @PostMapping(value = "/add", produces = MediaType.APPLICATION_JSON_UTF8_VALUE)
    public ResponseModel add(@RequestBody ${name} model) {
        ResponseModel responseModel = new ResponseModel();
        try {
            ${name} record = new ${name}();
            BeanUtils.copyProperties(model, record);
            service.save(record);
        } catch (Exception e) {
            responseModel.setSuccess(false);
            responseModel.setMessage("Fail:" + e.getMessage());
            logger.error("Fail:", e);
            return responseModel;
        }
        responseModel.setSuccess(true);
        responseModel.setMessage("SUCCESS");
        return responseModel;
    }

    @PutMapping(value = "/update", produces = MediaType.APPLICATION_JSON_UTF8_VALUE)
    public ResponseModel update(@RequestBody ${name} model) {
        ResponseModel responseModel = new ResponseModel();
        try {
            ${name} record = new ${name}();
            BeanUtils.copyProperties(model, record);
            service.update(record);
        } catch (Exception e) {
            responseModel.setSuccess(false);
            responseModel.setMessage("Fail:" + e.getMessage());
            logger.error("Fail:", e);
            return responseModel;
        }
        responseModel.setSuccess(true);
        responseModel.setMessage("SUCCESS");
        return responseModel;
    }

    @DeleteMapping(value = "/del", produces = MediaType.APPLICATION_JSON_UTF8_VALUE)
    public ResponseModel del(${primaryType} ${primaryKey}) {
        ResponseModel responseModel = new ResponseModel();
        try {
            service.del(${primaryKey});
        } catch (Exception e) {
        responseModel.setSuccess(false);
        responseModel.setMessage("Fail:" + e.getMessage());
            logger.error("Fail:", e);
            return responseModel;
        }
        responseModel.setSuccess(true);
        responseModel.setMessage("SUCCESS");
        return responseModel;
    }

}